

.comentario {
    padding: 50px;
}


.nome{
    margin-top: 20px;
    margin-bottom: 20px;
}
.button{
    width: 20%;
}

.uno{
    float: left; 
}

.dos{
    float: left; 
}

.contenedor{
    background: lawngreen;
    display: block;
}
.divide {
    width: 100%;
    height: 50px;
}


div.keyboard-wrapper>div.ui-keyboard>div{
   /* background-color: blueviolet;*/
    border-radius: 20px;
}

div.keyboard-wrapper>div.ui-keyboard>div.ui-keyboard-keyset>button {
    margin: 5px;
    background-color: #fff;
    border: none;
    padding: 7px;
    border-radius: 20px;
    
}

div.keyboard-wrapper>div.ui-keyboard>div.ui-keyboard-keyset>button:hover {
    margin: 5px;
    background-color: #D1C4E9;
    border: none;
}

/*
===============================================
*/


.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }





