

.comentario {
    padding: 50px;
}


.nome{
    margin-top: 20px;
    margin-bottom: 20px;
}
.button{
    margin-top: 45px;
    text-align: center;
}

.uno{
    float: left; 
}

.dos{
    float: left; 
}

.contenedor{
    height: 50px;
    display: block;
    margin-top: 25px;
    margin-left: 40px;
}


.contenedor-comentario {
    display: block;
    height: 50px;
    margin-top: 50px;
}
.contenedor-comentario>.uno {
    float: left;
    margin-left: 25px;
}
.contenedor-comentario>.dos {
    float: left;
    margin-left: 5px;
}

.button-comentario {
    text-align: center;
}






div.keyboard-wrapper>div.ui-keyboard>div{
   /*background-color: blueviolet;*/
    border-radius: 20px;
    width: 100%;
}

div.keyboard-wrapper>div.ui-keyboard>div.ui-keyboard-keyset>button {
    background-color: #fff;/*#FFE0B2;*/
    border: none;
    padding: 7px;
    border-radius: 20px;
    font-size: 25px;
    
}

div.keyboard-wrapper>div.ui-keyboard>div.ui-keyboard-keyset>button:hover {
    background-color: #D1C4E9;
    border: none;
}

/*
===============================================
*/


.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }


/*
keybooard css
=============================
*/
button.ui-keyboard-space {
  width: 85px;
  height: 25px;
  border: 1px solid #212121;
}

div.keyboard-wrapper>div.ui-keyboard>div.ui-keyboard-keyset>button.ui-keyboard-space{
  background: #FFE0B2;
  width: 140px;
  height: 33px;
  
}

div.keyboard-wrapper>div.ui-keyboard>div.ui-keyboard-keyset>button.ui-keyboard-space:hover{
    background-color: #D1C4E9;
}

div.keyboard-wrapper>div.ui-keyboard>div.ui-keyboard-keyset {
    position: absolute;
    left: 10px;
    top: 350px;
}





